[2019-09-16 15:33] g105b opened #1 "Fix the weird unicode output in the console"
![image](https://user-images.githubusercontent.com/358014/64971418-956f2680-d89f-11e9-8a79-37819717be95.png)

It is useful to see the progress, but a few other CI tools do this with Composer, so it might need some fixes within the container to handle the web-based terminal emulator.

[2019-09-19 15:28] #1 closed

[2019-11-18 11:23] chris-kruining opened #2 "Set up fails"
I get a failure in the set up stage with a 404 error, I copied the example config from https://github.com/g105b/phpspec-example. Did I do some thing wrong?
Failed run ::
https://github.com/chris-kruining/utilities/commit/eb7d6b915f877e60884fd20c323edaf4ecf85d1a/checks?check_suite_id=315904163

[2019-11-18 11:24] g105b commented on #2
Yep - `phpactions` should be `php-actions` :)

[2019-11-18 12:31] chris-kruining commented on #2
fixed

[2019-11-18 12:31] #2 closed

[2019-11-18 12:45] g105b commented on #2
Great to hear. Let me know how you get on.

[2020-01-12 06:52] BrianHenryIE opened #3 "404: Failed to download action"
https://github.com/BrianHenryIE/BH-WP-Autologin-URLs/commit/2cd7a8885971128ed54d18e8249648301f5dc67f/checks?check_suite_id=396092251

I had to change:

[code]
to
[code]

I also tried `@1.0.0` with no luck.

[2020-01-12 21:02] g105b commented on #3
Thanks for the report. I'll look into this and adjust the docs when I get back to my computer tomorrow.

[2020-02-05 11:50] gurban-h commented on #3
Tag is named as `v1.0.0` rather than `v1` (https://github.com/php-actions/composer/releases). So it works when you use
[code]

[2020-02-05 12:02] g105b commented on #3
Thank you! I'll update the docs so this can be avoided in the future.

[2020-02-05 12:05] g105b commented on #3
I have made another tag called `v1` as this is more consistent with other Github Actions versioning and does not require any changes to documentation.

Thanks for pointing this out.

[2020-02-05 12:05] #3 closed

[2020-02-27 06:53] dgw opened #4 "Feature request: Custom command arguments"
I attempted to use a custom command with arguments:

[code]

The step configuration:

[code]

Being able to use [php-actions/composer](https://github.com/php-actions/composer) with arguments would be nicer than our current workflow including [shivammathur/setup-php](https://github.com/shivammathur/setup-php), as this is a self-contained Docker action.

_**Note:** I've had to redact the actual `--w

[2020-02-27 10:23] g105b commented on #4
Thanks for opening this. I will look into this and report back after some testing.

[2020-04-27 13:46] navarr commented on #4
Hi I've ran into a similar issue trying to use this action to generate an archive

[code]

Trying to use the command as thus:
[code]

(aside: Hi @dgw, fancy meeting you here)

[2020-04-27 16:02] navarr commented on #4
I guess my question would be, are the quotes in `entrypoint` around `$@` necessary?  I believe this examples would work without them, and I'm not sure what scenarios they were added to avoid

[2020-04-30 21:06] georgezim85 commented on #4
Worked for me like this:
[code]

[2020-05-01 09:07] g105b commented on #4
I'm currently trying to collate a bunch of use cases with example usages that I'll add to the readme file. Thanks to @georgezim85 for this one, I'll use this and give you credit.

If anyone else would like to provide suggestions for how they pass custom commands, please post it in here and I'll add your suggestions to the documentation.

[2020-05-01 09:59] georgezim85 commented on #4
Thanks.
The way I made worked when I was running with [act](https://github.com/nektos/act) for testing locally

[2020-05-01 10:11] g105b commented on #4
That's great. I didn't know about that project, I'm going to see if I can get it running with a few projects I'm working on.

[2020-05-10 02:42] pridit opened #7 "Not able to authenticate with private repos"
Hi, I'm trying to pull in a private repository. I have added the SSH key through a different GitHub action. I have also tested cloning the private repo straight after which is fine, which means it's picking up the SSH key as expected, however when it finally gets around to the install I'm met with:
[code]
Is there something I'm missing?

[2020-05-10 10:45] g105b commented on #7
Simply put, this error is from Git and means the SSH key being used is not authorised for the repository you're trying to access. My first thought is that the SSH key file isn't placed in the right location, but I can't advise much more without seeing for myself.

I will make a private repository and see if I can clone it in a test repo and report back here. In the meantime, try to debug where the

[2020-05-10 15:23] pridit commented on #7
As mentioned I have confirmed that I can clone the repository, which is also the same repository that composer is trying to pull down - which means the key is authorized. This could be to do with isolation, so could it just be the case that the `Dockerfile` needs to be updated to copy in the SSH key and the `known_hosts` file added in the previous Action? [This is the Action I'm using](https://git

[2020-05-10 16:32] g105b commented on #7
Please could you share the Github repository that is using the ssh-key-action, so I can inspect the action logs? If it's a private repo, no worries, I'm still planning on running a test myself to help resolve this.

[2020-05-10 17:16] pridit commented on #7
I have set up an example repository and reproduced this here: https://github.com/pridit/php-actions-composer-test/runs/661123569

[2020-05-10 17:26] g105b commented on #7
Thanks. This will help when I get to look into this. In the meantime, would you mind changing the example repo to put the keys in ~/.ssh rather than explicitly setting the path to /home/runner/.ssh ? It's just the first thought off the top of my mind.

[2020-05-10 17:34] pridit commented on #7
I think `runner` is just the user GitHub uses when running workflows? This hasn't been set explicitly from my end. https://github.com/shimataro/ssh-key-action/blob/v2/src/main.ts#L52

[2020-05-10 20:24] g105b commented on #7
OK that's fine then. Two more ideas have come to mind. I know that certain SSH clients do not allow the key to be unprotected. Can you ensure that the key files (private public key pairs) are in the .ssh directory with only read access from the owner? Secondly, I wonder if you could explain to me the lowercase "o" in the permission: https://github.com/shimataro/ssh-key-action/blob/v2/src/main.ts#L

[2020-05-11 17:55] benjick opened #8 "Possible to specify version?"
`XXX requires php ~7.1.3||~7.2.0 -> your PHP version (7.4.5) does not satisfy that requirement.`

Is it possible to specify somehow?

[2020-05-11 20:32] g105b commented on #8
Maybe the version of XXX that your project requires can be increased? Does the dependency have more recent releases than the one that you are requiring?

It is technically possible to skip PHP or platform requirement checks (see https://getcomposer.org/doc/06-config.md#platform) but I would assume that the PHP version requirement is there for a reason.

[2020-07-16 00:19] lokisapocalypse commented on #7
I too am having this exact issue. Is there an example config that shows how to authenticate against a private repo?

[2020-07-29 12:34] rossjcooper opened #9 "Install PHP extensions?"
Is it possible to install PHP extensions using this action? E.g.
[code]

[2020-07-30 15:48] g105b commented on #9
No, sorry. PHP extensions can't be installed with Composer. You have to use the packages of the operating system for PHP extensions, so before the composer install stage, run `apt-get install -y php-exif` or whatever you need.

[2020-07-30 15:48] #9 closed

[2020-08-03 16:25] gvjacob commented on #4
Hello @g105b do you have an updated status on this issue? I still can't pass custom arguments to the command, specifically including a working directory for the install command.

[2020-08-03 19:31] g105b commented on #4
@gvjacob I am planning on getting these issues resolved this week. Sorry to keep you waiting, i hate to not be there for the open source community but I have had a lot of project work from my employer which has left me with very little brain space for open source. It's something that I care about a lot, and will be getting through these issues very soon.

[2020-08-03 19:37] gvjacob commented on #4
Thanks for getting back to me @g105b. Open source can feel like a second job so don't be too hard on yourself! You've done some wonderful work

[2020-08-11 16:48] g105b commented on #8
Closing, because this repository does not enforce any PHP versions by itself.

[2020-08-11 16:49] g105b commented on #7
@lokisapocalypse good idea. I will create an example project that does exactly this.

[2020-08-11 17:24] g105b commented on #4
Hey @gvjacob , @georgezim85, @navarr and @dgw ,

Thank you for being so patient with me. I now have more time to spend on open source contributions, and I am happy to say I have a solution for you.

I have used @dgw's original idea of using the `args` input parameter to pass arbitrary arguments. The way this has been implemented is by passing all of the inputs to the entrypoint script, whether the

[2020-08-11 17:24] #4 closed

[2020-08-12 19:41] g105b commented on #7
@pridit your issue is now fixed and documented in v2 of this repository. Please let me know how you get on.

@lokisapocalypse I have implemented an example project here: https://github.com/php-actions/example-composer and this repository depends on a private project. Check out the Actions tab to see it installing perfectly.

Hope everything makes sense for everyone, I'm happy that I've finally got

[2020-08-12 19:41] #7 closed

[2020-08-14 20:25] evok01 opened #10 "Cannot use multiple private repos"
The solution to pull down a private repo is working great, but my problem is that since Github does not allow you to share deploy keys across repos, this solution is only working if you have a single private repository.

Is is possible to supply `ssh_key` more than once?

I might be missing something about how to re-use a public key as a deploy key, but at the moment I don't see it.

[2020-08-14 20:38] evok01 commented on #10
Stupid me, nevermind.

I was just able to create a machine using and instead of setting a deploy key, I just added that as an SSH key for that user.

[2020-08-14 20:38] #10 closed

[2020-08-14 22:30] g105b commented on #10
That's great to hear. Do you think I could improve the documentation at all to help others in your position?

[2020-08-28 15:19] evok01 commented on #10
Sorry to get back so late. It certainly would not hurt to have a reminder that there is such a thing as ssh keys for a user account, that way someone doesn't have to bother you about it... like I did :)

[2020-08-29 13:41] g105b commented on #10
No problem. I'll give the docs another thought at some point.

[2020-09-19 19:35] devsi commented on #8
I'd like to re-visit this issue. I am not able to use your package because the PHP version is not something that can be set. I'm not sure what your action defaults to, but currently it's set to `7.4.10` and my repo requires `7.3` due to PHPUnit constraints. I think it's fairly common for PHP versions to be locked in a composer json file, and is unrealistic for a lot of companies to have those rest

[2020-09-21 08:40] g105b commented on #8
Hi @devsi ,

Yes indeed. If it isn't working for you how you want it to, then it's an issue that needs resolving.

I'll re-think some things. Currently the action is based on the official Composer Docker image, but I think that will have to change. If I use a custom image just for php-actions, then we could have separate compiled PHP versions depending on yaml configurations. It might take a bit o

[2020-09-27 19:06] g105b commented on #8
I'm working on this issue this week. The solution is to use a custom base docker image that includes the different PHP configurations to choose from. I'm building this at github.com/php-actions/php

[2020-10-10 10:16] siad007 opened #13 "composer validate not possible"
It is possible to validate `composer.json` by using the command `composer validate`.

Using it in a workflow like:
[code]

Will fail with this error:
[code]

[2020-10-11 19:37] g105b commented on #13
Hi @siad007 ,

Can you help confirm a detail so I can fix this for you? Do you know whether the order of the arguments is important? Is `composer --no-progress --no-suggest --no-interaction validate` a valid command?

Cheers,
Greg.

[2020-10-11 19:42] siad007 commented on #13
None of them are allowed. See also the man/help page:

[code]

[2020-10-11 20:06] g105b commented on #13
I will fix it so that the other arguments are only added when valid, I don't want to force you to add things to your action YML to fix something I've missed when configuring this action.

[2020-10-11 20:09] siad007 commented on #13
Great @g105b thx

[2020-10-13 12:09] bapcltd-marv opened #14 "issue with bcmath being required but not found"
have got bcmath being successfully installed by `shivammathur/setup-php@v2`, but `php-actions/composer@v2` fails saying that ext-bcmath is not found.

[2020-10-13 15:14] g105b commented on #14
Extensions and runtimes are not shared between actions. I'm currently working on a way to configure PHP more coarsely (version, extensions, etc.)

Could you share your yml configuration at all?

[2020-10-13 15:31] #13 closed

[2020-10-13 15:31] g105b commented on #13
Incoming... testing in github.com/php-actions/composer-example

[2020-10-13 15:44] bapcltd-marv commented on #14
[code]

[2020-10-13 15:56] siad007 commented on #13
👍 great thx

[2020-10-13 16:40] g105b commented on #13
[You're welcome!](https://github.com/sponsors/g105b) :money_mouth_face:

[2020-10-15 16:43] afilina opened #15 "Only works from root"
I can't specify the path where my composer.json file is located.

[2020-10-17 13:03] g105b commented on #15
Hi @afilina ,

I'll look into this and provide you with an example soon.

[2020-10-20 16:01] g105b commented on #15
Hi @afilina,

I have included the `--working-dir` flag that was missing from this action previously. You can now set it as an input to your action to change the working directory.

Example:

[code]

Alternatively, `bBy setting the `COMPOSER` env variable it is possible to set the filename of `composer.json` to something else.

Example:

[code]

Please let me know if you need anything else, I'm hap

[2020-10-20 16:01] #15 closed

[2020-10-21 18:54] andradedpg opened #16 "Troubles when working_dir is specified"
Hy everyone!
 In my repository, composer.json isn't on the root level. I have somelike that:

[code]

 When I set working_dir on my actions to **working_dir: ./src**, I received:

`Warning: Unexpected input(s) 'working_dir', valid inputs are ['entryPoint', 'args', 'command', 'only_args', 'interaction', 'suggest', 'dev', 'progress', 'quiet', 'ssh_key', 'ssh_key_pub', 'ssh_domain']`

 But, in https:

[2020-10-22 08:55] g105b commented on #16
Hi @andradedpg , you were just a bit too quick for the `working_dir` input as it's only just been added as a supported feature. Check [the latest commit](https://github.com/php-actions/composer/commit/419c21f48a42a1c51d5b297a92623d0a7faa7f02) which was made only 1 day before you raised the issue.

The functionality is now part of the v3 release. Please let me know how you get on with it and if you

[2020-10-22 08:55] #16 closed

[2020-10-22 08:58] g105b commented on #14
Hi, sorry to keep this issue open for so long, but if you take a look at this issue (https://github.com/php-actions/phpunit/issues/16) you can see what I'm waiting for.

[2020-10-22 18:18] Lewiscowles1986 opened #17 "Accessing files when complete"
So I tried pairing this with the github actions for wordpress plugin deployment and it seems that the vendor folder never comes out the other side of this action... It created a commit that deleted the folder stopping the plugin from working

https://github.com/Lewiscowles1986/WordPressSVGPlugin/runs/1294128965?check_suite_focus=true

[2020-10-23 10:14] g105b commented on #17
Hi @Lewiscowles1986,

It looks to me like your action is being stopped by the .gitattributes file being missing, see https://github.com/Lewiscowles1986/WordPressSVGPlugin/runs/1294128965?check_suite_focus=true#step:7:82

To help debug this, you can create a step in your action that outputs the contents of a directory by running `ls`. That would let you see exactly what is in the directory. I am 10

[2020-10-23 11:31] Lewiscowles1986 commented on #17
I'm so sorry, it's weirder than that...

Basically the vendor folder gets omitted due to not being part of git and in gitignore.

[2020-10-23 11:31] #17 closed

[2020-10-23 11:31] Lewiscowles1986 commented on #17
If you want to look at more recent runs I've been doing what I think are some interesting things using this action. Thanks for writing it.

[2020-10-27 09:54] fanttis opened #20 "@v1 builds are basically forced to @v2"
As of [this](https://github.com/docker-library/official-images/pull/8949) PR, all the builds now point to Composer v2 regardless of what version of this repo was specified.

[2020-11-06 05:39] noknokcody commented on #10
Hi there, just come across the same issue so maybe worth updating the doco if you get a chance. Thanks!

[2020-11-06 10:48] Anthodev commented on #16
It seems you made a typo in this feature on line 36, can you release a quickfix please @g105b?

`command_string="$command_string --working-dir=$action_working_dir"`

Instead of :
`command_string="$command string --working-dir=$action_working_dir"`

The typo give me the following error when a job runs :
[code]

[2020-11-07 12:04] Danon opened #21 "Build failing because of non existent arguments"
I tried running `composer test` with php-actions/composer@v1 and @v2, and in both cases I got this error:

[code]
![image](https://user-images.githubusercontent.com/13367735/98440547-aa3cf800-20f9-11eb-9065-6ca6ae48dbf6.png)

I get the same version on my local compose in versions 1.9 and 2.0.6.

I'm buffled as to why actions try to run compoer with invalid arguments?

[2020-11-07 12:24] g105b commented on #21
Hi @Danon , please could you confirm that this issue is dived on `php-actions/composer@master`? It's something I've fixed [in this commit](https://github.com/php-actions/composer/commit/f006b92b09bcfc358aea006bf2379785912f0abc) recently but will need to be made into a release.

[2020-11-07 12:25] Danon commented on #21
After I've upgraded to @v3 it works. Thank you.

[2020-11-07 12:25] #21 closed

[2020-11-07 12:28] g105b commented on #21
Aha, excellent - I'm in the middle of putting together a version of this action that can switch PHP versions and Composer versions, I had forgotten the release was already out there.

[2020-11-09 14:52] g105b commented on #14
https://github.com/php-actions/phpunit/issues/16#issuecomment-724061958

[2020-11-10 08:45] hunomina opened #22 "No action argument available to change php or composer version"
The only way to change php or composer version now is by using environment variables.
It would be nice to have action arguments for that.

[2020-11-10 09:25] g105b commented on #22
Hey @hunomina , you're in luck. I'm literally building this feature right now and you can test it by switching to the master branch.

See here: https://github.com/php-actions/composer/blob/master/action.yml#L4-L12

I'll let you know here when things are released and documented.

[2020-11-10 09:26] g105b commented on #22
Oh, I see from your PR that you already knew this, and have passed them through to the entrypoint. Thanks so much for your contribution. This is one less thing for me to do today!

[2020-11-10 09:27] #22 closed

[2020-11-12 12:32] g105b commented on #14
Hi @bapcltd-marv ,

Please see the latest release of the action: https://github.com/php-actions/composer/releases/tag/v4

The bcmath extension, along with many others, are available by default now we have moved to our own base image.

Please see the README for a list of extensions. There is nothing you need to do to enable the extensions.

I really hope this helps you. Please let me know if you ha

[2020-11-12 12:32] #14 closed

[2020-11-22 07:56] ericknyoto opened #24 "Where I can see the list of PHP extension enabled by default?"
I have a composer.json that required redis extension installed and enabled.
But the composer install was failed because no redis extension installed.
How can I add the extension?
Thanks.

[2020-11-22 16:34] g105b commented on #24
Hi @ericknyoto,

We're currently working on improving the PHP installation process, using our own Docker image. Please see here: https://github.com/php-actions/php-build/blob/master/Dockerfile#L12

I'm trying to figure out the best way to manage the extensions, so that people like yourself can configure the action to have the correct extensions present. Maybe for now it would be a sensible idea to

[2020-11-24 12:11] szepeviktor opened #25 "Proper caching"
Please do not encourage users to cache vendor directory.

`path: vendor/`

It makes CI unpredictable.

BTW `::set-output` is unused in README.

[2020-11-24 15:09] g105b commented on #25
Hi @szepeviktor ,

I considered the caching of the vendor directory a useful feature (as long as the cache is validated against the composer.lock file). Please can you suggest an alternative method of doing this?

The documentation of https://github.com/actions/cache was used when forming my opinion of caching the vendor directory (the example uses the `node_modules` directory of an NPM project in

[2020-11-24 16:08] szepeviktor commented on #25
I'm not able to convince you that only the cache directory should be actually cached.
https://github.com/travis-ci/travis-ci/issues/4579#issuecomment-127972205

Composer can install packages from the cache to `/vendor` directory in 1 second!
In theory it applies also for npm, in reality npm is viktor-blacklisted, please consider using Yarn v1/v2.

[2020-11-24 16:16] szepeviktor commented on #25
Please see this PR https://github.com/php-actions/composer/pull/26

[2020-11-24 18:23] g105b commented on #25
This is great, thanks very much. I'll check it out and merge the PR once tested.

[2020-11-25 16:43] baschny commented on #24
@ericknyoto You don't need the extensions enable just to "install the packages". We don't need php-actions/composer maintainer to keep installing more and more extensions to the container just for that use case.

You can do two things to solve this kind of issues in CI at `composer install` time:

a) use `--ignore-platform-reqs` to skip composer checking if the required extensions are indeed insta

[2020-11-25 16:52] g105b commented on #24
Thanks @baschny , you've taught me some new things there.

I agree that we shouldn't have to install packages for every possibility, but currently I am learning how to provide a rock-solid PHP base image for actions to run on, and I assumed I had missed some vital points.

I can imagine that a lot of unit tests will indeed require the presence of certain packages. For things like MySQL, there shou

[2020-11-25 17:12] baschny commented on #24
All right, this issue appeared in the "composer" sub-project, so my answer of course only covers this use-case, where you only really need [the extensions composer requires](https://github.com/composer/composer/blob/master/composer.json#L44) (zip, openssl, zlib). Having just "what you need" doesn't add extra bloat to the images, making the run go faster.

So I am more a fan of having separate imag

[2020-11-30 20:09] Surfoo opened #28 "error pulling image configuration: denied: unauthenticated: User cannot be authenticated with the token provided."
Hello,

I got this error in my Github Actions workflow :

[code]

Same error when I want to build the image:
[code]
Where is the problem? On you side?

Thanks your help!

[2020-11-30 20:20] Surfoo commented on #28
oops duplicate with https://github.com/php-actions/php-build/issues/2

[2020-11-30 20:20] #28 closed

[2020-12-03 18:15] g105b commented on #25
Thanks. Merged #26.

[2020-12-03 18:15] #25 closed

[2020-12-03 18:17] g105b commented on #20
You can now specify the Composer and PHP version used in the action. See the README for an example.

[2020-12-03 18:17] #20 closed

[2020-12-03 18:18] g105b commented on #8
It's possible to specify the PHP version and Composer version in the action YML configuration now. Please see README for an example.

However, this isn't the most ideal use of Github Actions' architecture. I've learnt a lot since starting these repositories, and soon you'll be able to take advantage of Docker layers so that you can specify all PHP extensions, PHP version, Composer version required

[2020-12-03 18:18] #8 closed

[2020-12-03 18:34] szepeviktor commented on #25
You're welcome.

[2020-12-08 16:37] zaporylie opened #31 "`composer` should be executed by the user with same uid:gid as owner of composer.json"
I've experienced [this issue](https://github.com/actions/checkout/issues/273) by running following 2-steps-job on the self-hosted runner:

[code]

I've managed to debug this issue and it is happening because `actions/checkout` cannot reset the state of the workdir, which is caused by `php-actions/composer` running as root:root. However,`actions/checkout` is being run by the same user who "owns" th

[2020-12-08 17:06] g105b commented on #31
Thanks for reporting this. I will look into creating a test case in https://github.com/php-actions/example-composer so we can replicate the issue. Any help to reproduce it will be appreciated.

[2020-12-08 19:45] Gared opened #32 "Use generic composer urls"
Instead of using the specific url for downloading composer
```https://getcomposer.org/download/1.10.17/composer.phar ```
you could use a generic one:
```https://getcomposer.org/composer-1.phar```

If you want this I could open a PR for that

[2020-12-15 18:04] flexchar commented on #24
Since you already working on it, I will just write here instead creating new issue. ZIP Extension should be installed next to composer.

[2020-12-16 11:57] g105b commented on #24
zip and git are installed by default on the base image that is under construction. There is one last task to complete before I release the next version of this action, but it's looking really positive - build times that execute within 10-30 seconds rather than minutes.

[2020-12-16 14:50] g105b opened #34 "Optimisation: PHP-build step - Don't bother building/pushing if the base image has pulled successfully"
https://github.com/php-actions/composer/blob/01e439f1d9c294577f73c8eeb68429f5b1968d40/setup-php.bash#L61

Once a successful pull happens, there is no need to spend the few seconds attempting to build and push the image again.

[2020-12-16 14:53] g105b commented on #32
Thank you for raising this. I have committed it to the ongoing WIP branch which will be merged into master shortly.

[2020-12-16 21:22] eugene-manuilov commented on #31
@g105b any progress on this issue?

[2020-12-19 12:33] andig opened #35 "Installing action is horribly slow"
See https://github.com/andig/carddav2fb/pull/220/checks?check_run_id=1581471294 for an example. The installation of the action (not the actual dependencies) takes 2 minutes alone. Not sure if I've misconfigured, but installing the action should be more or less instantaneous?

[2020-12-19 14:55] g105b commented on #35
Hi @andig,

You have not misconfigured, but please see this test run: https://github.com/PhpGt/Database/actions/runs/431015623

The build step (composer) takes 18s to build the action and install the dependencies. This is using a new version of the action, which is currently being developed to overcome some limitations. I don't think there is anything more to complete before a stable release is ma

[2020-12-19 16:52] andig commented on #35
Confirmed working and lightning fast :)

[2020-12-19 16:54] g105b commented on #35
Great! Very glad to hear it. It's been a big learning curve for me to get Github Actions working on my side, but I'm really happy with how it's working now, so if you have any feedback or ideas I'd love to hear them.

Cheers.

[2020-12-23 09:49] #32 closed

[2020-12-23 09:50] g105b commented on #35
Released into v5 :)

[2020-12-23 09:50] #35 closed

[2020-12-23 09:51] g105b commented on #34
This made its way into v5

[2020-12-23 09:51] #34 closed

[2020-12-23 09:51] g105b commented on #24
Released as v5 :)

[2020-12-23 09:51] #24 closed

[2020-12-23 09:56] g105b commented on #31
I've just made a release of v5 to this repository, so I can take a proper look at this. The issue is caused by using a self-hosted runner (I missed that previously).

Please take a look here:

https://github.com/php-actions/composer/blob/master/composer-action.bash#L135-L143

It's possible to use the `--user` flag on Docker to run as a specific user ID (https://docs.docker.com/engine/reference/run

[2021-01-02 15:45] jan-di opened #36 "Automatically created docker packages after using this action"
Hello,
Today I've tested this action. While it works, I was surprised that the repo now shows two packages related to the php-actions:
![grafik](https://user-images.githubusercontent.com/23323185/103460781-70632900-4d19-11eb-914f-6a6a887a4e81.png)
https://github.com/jan-di?tab=packages&repo_name=php-config

I've only run a single workflow that seems to created them (I've used the composer action a

[2021-01-02 20:07] g105b commented on #36
Hi @jan-di ,

This is known behaviour as of v5. To achieve the build speeds and configuration possibilities, the custom Docker image is pushed to the repository that calls the action. This means that your user or organisation will list the package on the page at https://github.com/{organisation}/packages. This shouldn't have any effect on things, but it's worth knowing about.

If this wasn't done,

[2021-01-02 22:15] jan-di commented on #36
Thanks for the explanation. It makes sense, its just that I haven't expected the packages to be there. Technically it isn't a problem, I just think it is misleading for users of the repository, because the package does not refer to the content of the repository itself.

The problem is, that I don't have the UI available you described. It works only for containers in the new container registry (ghc

[2021-01-03 10:00] g105b commented on #36
I have an idea. You can temporarily switch your repository to private to get the UI you need to delete, then switch back to public. I don't understand why GitHub would choose to hide the UI, even when you can delete a public repo just fine.

The problem with the new GitHub package repository is that it isn't compatible with public write access, so it would be a requirement of the developer to gene

[2021-01-03 10:00] #36 closed

[2021-01-07 09:04] RalphDriessen opened #37 "Cloning private repository fails in v5"
When using version 5, the cloning of my private repository fails with message:
[code]

Action source code:
[code]

This issue is not happening when using v4 where it works fine.

Also, the `composer_version` argument seems to be not supported anymore, but still is an option according to the README.
[code]

[2021-01-07 16:54] g105b commented on #37
Thanks for reporting this. I'll update the example-composer repository and check out where it's failing.

Once I've fixed this issue, I plan on releasing a new v5 release - does this make sense to you, or would you expect to see a fix released as v6?

[2021-01-08 11:48] RalphDriessen commented on #37
Nice, thanks! A new v5 release would make more sense to me as it is not a big new feature but just a fix.

[2021-01-08 12:56] #37 closed

[2021-01-08 12:59] g105b commented on #37
Released in v5: https://github.com/php-actions/composer/releases/tag/v5

[2021-01-08 13:03] g105b commented on #37
Also FYI I've updated the example repository here: https://github.com/php-actions/example-composer

All actions are passing, including the use of private repos. Good for reference.

[2021-01-08 13:37] Tigerman55 opened #39 "v5 denied: Resource not accessible by integration"
I started getting this error since v5 was updated. Before the update, I was receiving the cloning private repository error that was fixed.

`denied: Resource not accessible by integration`

Also another error in the console:

`Error response from daemon: manifest for docker.pkg.github.com/myorganization/mywebsite.com/php-actions_composer_mywebsite.com:php-7.4-build2 not found: manifest unknown: Do

[2021-01-08 14:19] g105b commented on #39
Hi @Tigerman55,

Thanks for reporting this issue. I'm not sure what can be causing this but I'll look into fixing it. Please see https://github.com/php-actions/example-composer which has a CI step that loads a private repository.

I'm not sure what the `denied` error is referencing, but the `manifest for docker ... not found` is expected the first time you run the action after an update (the actio

[2021-01-08 14:27] Tigerman55 commented on #39
It's a private repository, but I'd be glad to share the config .yml.

https://gist.github.com/Tigerman55/cc43c3be7342768eb60ae9011ddcd3f3

[2021-01-08 15:10] g105b commented on #39
Hi @Tigerman55 ,

I've just created a private repository to test this: https://github.com/g105b/test-tigerman55

You should have an invite to collaborate. The repo requires 1 public and 1 private composer package, and it installs using the action without any issue. If you check the action runs, you'll see I created the ci.yml file first, which failed due to there being no composer.json, then on th

[2021-01-08 15:14] g105b commented on #39
Here are some screenshots that might help others that don't have access to the test private repo:

***

composer.json:

![image](https://user-images.githubusercontent.com/358014/104030846-ec4eec80-51c3-11eb-9b88-9b909775067c.png)

***

Github workflow:

![image](https://user-images.githubusercontent.com/358014/104030910-01c41680-51c4-11eb-80cb-d3e847435aa0.png)

***

List of actions that have run:

[2021-01-08 19:07] Tigerman55 commented on #39
I just discovered that using repository of type "github" in composer is what was causing this error. When I switched it to vcs, the error disappeared. I still have no idea why that would cause it. Are you aware of what might cause that behavior?

[2021-01-08 19:29] Tigerman55 commented on #39
As a reference. Before, my composer.json key syntax was this:

`"repositories": [
    {
      "type": "github",
      "url": "git@github.com:organization/reponame.git"
    }
]`

Now, this works:

`"repositories": [
    {
      "type": "vcs",
      "url": "https://github.com/organization/reponame"
    }
]`

[2021-01-09 18:47] g105b commented on #39
Strange, [according to the Composer documentation](https://getcomposer.org/doc/04-schema.md#repositories), only the types `vcs`, `composer` or `package` are supported.

[2021-01-09 18:47] g105b commented on #39
Is everything working for you now?

[2021-01-10 01:24] Tigerman55 commented on #39
It is possible that the option was removed in composer v2. Yes, it is working perfectly now.

[2021-01-10 01:24] #39 closed

[2021-01-10 10:48] g105b commented on #39
Great to hear. Always happy to help in the future.

[2021-01-12 13:26] amustill opened #40 "How are environment variables exposed?"
Hi,

I'm attempting to use this action along with the `ffraenz/private-composer-installer` package where a key is required to obtain another package. This key is passed as an environment variable and works both locally and in another CI environments.

However, when using this action I'm getting errors where the environment variables are not being set.

Just for clarification, how are environment v

[2021-01-13 14:24] g105b commented on #40
Using the `env` section of the config yaml is expected - passing a key and value in there like you are doing seems fine to me.

Is your private repo on Github? If so, you should be able to install it without the need for other actions. [See the readme for an example](https://github.com/php-actions/composer#installing-private-repositories).

Let me know if this works for you or if you have any foll

[2021-01-14 20:40] giuliolastra opened #41 "Error unknown blob during the execution"
Hello,
thanks in advance for support, I'm quite new of github actions and I was trying to archieve a simple checkout of my private repo, in order to copy to a VPS.
I archieved it about 10 days ago, using your **php-actions/composer@v5** but today,  when I tried to run the actions (after adding just a few lines in my project) I had a totally different execution of your action that ended with this:

[2021-01-16 16:42] g105b commented on #41
Hi, can you share anything like the configuration yml of your repository so I can take a look?

[2021-01-16 17:34] giuliolastra commented on #41
Sure, here's the first part of my action.

[code]

While on the error I had:

[code]

By the way I've runned it now, and the execution was the composer's standard one, ending with a success. But I changed absolutely nothing.

[2021-01-16 17:42] g105b commented on #41
I'm not 100% sure what has caused this, but it sounds like for some reason the Github package repository was not allowing your test runner to pull the package correctly.

Can I confirm that your actions are running successfully again now?

[2021-01-16 18:31] giuliolastra commented on #41
I can confirm that now is working.

Is there anything that I can do to check this?

Thanks for support!

[2021-01-16 18:35] g105b commented on #41
The only thing I can think of to debug this is to run the docker commands yourself locally, but that's a bit farfetched, and Github Actions are quite opaque with their debuggability... for now, let's hope the issue doesn't crop up again. Please let me know if you have any other issues with the action.

Cheers.

[2021-01-16 18:35] #41 closed

[2021-01-25 16:24] aaronware opened #42 "http-basic auth to private repo?"
Quick Q: While I understand SSH is a better approach to authentication. In a scenario where that is not available. Can http-basic auth still be used? I tried a few permutations and it didn't seem to allow this approach. I would think that the action would allow something that composer itself allows? But more than likely I am doing it wrong?

I setup a step within my job authenticating utilzing the

[2021-01-26 08:50] g105b commented on #42
Hi @aaronware ,

Thanks for your first issue report. HTTP basic auth is something I haven't personally used with Composer because, as you say, SSH is always preferred, but if it works locally for you with HTTP basic auth then I too would expect that this action behaves the same.

The best thing I can do is add a test in https://github.com/php-actions/example-composer to install a private repo usin

[2021-01-27 11:13] g105b commented on #42
Hi @aaronware ,

I've taken a look into this as I hadn't used HTTP basic authentication before now. It seems that the reason it is not preferred to use HTTP basic auth is because the credentials have to be placed into the URL of the repository, which must be referenced in the composer.json file, rather than passed into the action as an input from Github Secrets.

I just had success installing a pr

[2021-01-27 11:16] g105b commented on #42
After reading [the Composer docs on Authentication](https://getcomposer.org/doc/articles/authentication-for-private-packages.md#http-basic), it seems that you could still achieve this using your Github secret, by writing the secret to `auth.json` in your project. Let me hook this up in an example... bear with me.

[2021-01-27 11:44] g105b commented on #42
I have a working solution for you!

Step 1)
Create your personal access token
![image](https://user-images.githubusercontent.com/358014/105986399-c915af80-6094-11eb-9a71-42312b7babc4.png)

Step 2)
Add the following JSON as a secret to your repository - note you must match the hostname of the git server (in this case github.com) and your username and the PAT you just created
![image](https://user-i

[2021-01-29 01:22] aaronware commented on #42
@g105b thanks so much for this. It worked perfectly!

[2021-01-29 01:22] #42 closed

[2021-01-29 08:36] LastDragon-ru opened #43 "Imposible to install intl extension on windows-latest + PHP 7.4/8.0"
Log (https://github.com/LastDragon-ru/tmp-phpunit-workflow/runs/1790193993?check_suite_focus=true)
[code]

[2021-01-29 08:53] g105b commented on #42
No problem. I'll try and document this for future users.

[2021-01-29 08:54] g105b commented on #43
I'll take a look into why this is occurring and get back to you later.

[2021-01-29 09:41] g105b commented on #31
I'm closing this issue as I haven't had any further reports since the v5 release. Please feel free to re-open if this issue is still affecting you, and I'll pick it back up and dig a little deeper.

[2021-01-29 09:41] #31 closed

[2021-01-29 09:42] g105b commented on #40
Hi @amustill ,

Did you succeed with using your private repository? I'm just checking to see if there's anything you're still struggling with. If not, I'll close the issue.

Cheers,
Greg.

[2021-01-29 09:51] g105b commented on #43
I've isolated the issue to https://github.com/php-actions/php-build - this repository is used to create the Docker packages that run PHP within your actions, and it's failing due to the naming convention I've picked. It calls the packages by a name that contains the version of PHP, list of extensions, etc. but it doesn't mention the operating system. I hadn't expected people would be using Windows

[2021-01-29 10:10] LastDragon-ru commented on #43
@g105b, thank you. I test my packages on windows just for the case. So this bug absolutely not critical :)

[2021-02-07 10:53] paras-malhotra opened #44 "Any specific reason why this doesn't call the script directly?"
Instead of this:

https://github.com/php-actions/composer/blob/ff923f6d2bca1f888115c734de8cc64147bb2abc/action.yml#L93-L95

Can't we simply do [this](https://github.community/t/running-a-bash-script/141584)?

[2021-02-07 10:54] paras-malhotra commented on #44
Nvm I need some sleep 😆

[2021-02-07 10:54] #44 closed

[2021-02-07 15:22] g105b commented on #44
The curl redirection is there to allow for the base php image to be maintained in another repository, so this repository can contain all of its logic within the `composer-action.bash` file.

Happy to discuss how it works or alternative approaches if you want.

[2021-02-07 15:33] paras-malhotra commented on #44
Yeah my bad, sorry for the bother. I thought it was downloading the bash file that already exists in the repo.

[2021-02-10 10:01] g105b commented on #43
All https://github.com/PhpGt repositories will be getting Windows compatibility soon, so I will have a bunch of repositories to test this when I get the fix soon.

[2021-02-11 10:52] amustill commented on #40
Hi Greg,

Sorry, I haven't had the time to look at the issue further. The repo isn't private, it's a package installed from a remote zip file using `ffraenz/private-composer-installer`.

I will make some time in the coming days to investigate a little further.

Thanks.

[2021-02-12 13:27] amustill commented on #40
I took this issue over to the `ffraenz/private-composer-installer` package and as [per the discussion](https://github.com/ffraenz/private-composer-installer/issues/40#issuecomment-778183936) it has been suggested that the environment variables passed to this action are not passed on to the Docker container.

Is this a plausible explanation @g105b?

As detailed in that thread, I have since found a

[2021-02-12 13:59] g105b commented on #40
That makes perfect sense actually. The action has been changed in v5 to run the task within a separate container, which won't currently have these variables exposed to it.

I'll update this functionality as a bug fix as part of v5 because this should be the expected behaviour.

Thanks for helping diagnose the issue.

[2021-02-12 14:08] amustill commented on #40
Ah, perfect!

Thanks, Greg, and apologies for being slow to follow up.

[2021-02-25 11:11] FrEaKmAn commented on #15
Sorry to comment an old issue, but can you confirm that env logic is working as I cannot get it to work?

works
[code]

doesn't work

[code]

[2021-03-01 01:20] saernz opened #46 "Dockerfile conflict on first run"
I think I have found a bug where this action overwrites my Dockerfile when building it's own Dockerfile. My Dockerfile exists in the root of the project and from looking at the source code this action appears to overwrite it.

I always get a fail on my first run when using this action when trying to run tests. This appears to be caused when I try to build my own Dockerfile, though instead of build

[2021-03-01 12:33] g105b commented on #46
Hi @saernz ,

You've identified a bug. I'm actually making another bugfix this afternoon so I'll aim to fix this in the same release. Because it's a fix rather than a feature, I'll be releasing this into `v5`.

[2021-03-01 12:46] #46 closed

[2021-03-01 17:31] g105b commented on #40
I've just patched the v5 release with a solution that exposes all env variables from the host action runner to the subcontainer.

Have fun!

[2021-03-01 17:32] g105b commented on #46
I've just released a patch to v5 that fixes this issue. Sorry that it wasted some of your time, let me know how you get on.

Greg.

[2021-03-01 17:33] g105b commented on #15
Hi @FrEaKmAn,

Thanks for your comment. No problem commenting on an old issue, as if you're having problems using this I want to help!

Your comment came at a coincidental time, as there was indeed an issue with environment variables, but I was already putting a fix in place for it - the patch has just been made on the v5 release, so please give it a test and feel free to open the issue if you're

[2021-03-03 08:19] polesen opened #47 "Did v5 tag got re-tagged?"
We've been running against the `v5` tag for at least a month, and suddenly all our builds started failing with errors on accessing private repos. Looking at the repo, it looks like the `v5` tag is only a couple of days old now. Did the old tag got deleted and re-tagged on another sha?

[2021-03-03 08:23] Apfelfrisch commented on #47
Second this. Since yesterday all our builds are failing with `%git@github.com: Permission denied (publickey).
215
fatal: Could not read from remote repository.Please make sure you have the correct access rights and the repository exists.`

[2021-03-03 08:34] polesen commented on #47
I've falled back to running against a specific git sha now, because `v4` doesn't support the extension installing we were using:

[code]

[2021-03-03 11:03] g105b commented on #47
Hi @polesen ,

There was indeed a release to v5, but I have reverted that release now and said the changes will be made to v6 to avoid any downtime for anyone. To confirm: v5 points at `ff923f6d2bca1f888115c734de8cc64147bb2abc` again.

The reason for this re-tagging is how Github Actions releases are handled slightly differently. I made the call to make a patch release to v5 to fix a small bug in

[2021-03-03 11:03] #47 closed

[2021-03-03 14:02] jycr753 commented on #47
Great thanks a lot @g105b :)

[2021-03-12 06:49] isaacmsl opened #48 "I'm having trouble when trying use"
I've add a Github Action on my repo to run PHPUnit tests.
Github action:
[code]

At first time, it return an error on "Run php-actions/composer@v5". The log said:

[code]

Please help me

[2021-03-12 06:52] isaacmsl commented on #48
Solved it running the action again, but what is the reason of that error?

[2021-03-12 06:52] #48 closed

[2021-03-12 09:30] g105b commented on #48
I've actually seen this myself a couple of times. I wish Github Actions was easier to debug, because if there's anything I can do in my packages to prevent this kind of things happening I would get it fixed ASAP.

If there's anything you can help diagnose, please let me know as I really want to make this set of repositories easy for all developers.

[2021-03-22 19:19] adamgen opened #50 "Install deps on a subdirectory"
I'm trying to install on a subdirectory using

[code]

But with no success, the $GITHUB_WORKSPACE is not parsed. Any idea on what can be done?

[2021-03-22 19:25] adamgen commented on #50
Just using

[code]

works fine...

[2021-03-22 19:25] #50 closed

[2021-04-03 09:11] lamasfoker opened #51 "xdebug extension should be disable"
As you can see [here](https://github.com/lamasfoker/upreginadellafamiglia-website/runs/2257259237?check_suite_focus=true) seems to be enabled the xdebug extension. I think it is better to disable it.

[2021-04-05 15:50] markkimsal opened #52 "cat output.log no such file"
[code]

The output just says
[code]
![image](https://user-images.githubusercontent.com/54099/113593891-f63a8d00-9604-11eb-8555-1c46097631ff.png)

[2021-04-06 13:34] pbek opened #53 "Failed to pull manifest by the resolved digest"
Thank you for this nice GitHub action! It worked great until recently when I use:

[code]

(See https://github.com/qownnotes/api/blob/4a313056a824ba928eaedf6f8e483a88d1ae363e/.github/workflows/test.yml#L17-L21)

I get:

[code]

(See https://github.com/qownnotes/api/runs/2278527522?check_suite_focus=true)

Retrying the build process doesn't help.
Did anyone else see this?

[2021-04-06 13:44] g105b commented on #53
Hello, thank you for your message. I have just hit this myself and have found out what the issue is: recently Github bumped the default OS from Ubuntu 18.04 to Ubuntu 20.04. I'm not sure why this has caused an issue, but it's certainly too much of a coincidence to ignore.

My plan is to hardcode the reference to the previously working Ubuntu 18.04, make a patch to the v5 release, then move on to i

[2021-04-06 13:44] g105b commented on #52
Hello, thank you for your message. I have just hit this myself and have found out what the issue is: recently Github bumped the default OS from Ubuntu 18.04 to Ubuntu 20.04. I'm not sure why this has caused an issue, but it's certainly too much of a coincidence to ignore.

My plan is to hardcode the reference to the previously working Ubuntu 18.04, make a patch to the v5 release, then move on to i

[2021-04-06 13:52] pbek commented on #53
Ah, great. Thank you! So I can stay at `ubuntu-latest` when you update `php-actions/composer@v5`?

[2021-04-06 13:53] g105b commented on #53
I definitely want this to continue working on any ubuntu (and I'm also planning how to make it work on Windows, but that's another story).

Currently not sure exactly what's failing, but I hope I'll find it soon as it's going to start affecting a lot of people, including my own repositories.

Any help identifying the issue is appreciated.

[2021-04-06 13:57] polesen commented on #53
I am getting the same here on my repos :grimacing:

I tried downgrading from ubuntu-20.04 (which I was on before, which worked) to 18.04. Did *not* help.

[2021-04-06 13:59] benswinburne commented on #53
Seems to be to do with the docker version as opposed to Ubuntu (obviously newer ubuntu shipped with newer Docker)

https://docs.docker.com/engine/deprecated/#pulling-images-from-non-compliant-image-registries

Attempting to help look at what might be the exact cause and will report back if i find anything.

Anyone seeing this on any other GH registry hosted images or just this one?

[2021-04-06 13:59] pbek commented on #53
Could be a docker thing. Lately I'm getting errors like `Could not do a head request, falling back to regular pull.` when [Watchtower](https://github.com/containrrr/watchtower) is pulling my repos...

[2021-04-06 14:00] g105b commented on #53
I can also confirm what @polesen states: downgrading Ubuntu does not fix this. I'm testing on https://github.com/php-actions/example-composer - investigating Docker repository now.

[2021-04-06 14:02] g105b commented on #52
@markkimsal please see https://github.com/php-actions/composer/issues/53 where there has been a duplicated issue. There is more discussion happening in that thread in case you wanted to follow along.

[2021-04-06 14:02] pbek commented on #53
I hope it not that the newish Docker API rate limiting is affecting the GitHub Action servers.

[2021-04-06 15:04] g105b commented on #53
Hey everyone, please can you all test to see if a change I've made fixes this for your repositories?

If you could change `uses: php-actions/composer@v5` to the following: `uses: php-actions/composer@april-2021-issue`, it will start to use the `ghcr.io` domain.

I've checked and there have been loads of updates to GHCR. Mainly, the GITHUB_TOKEN environment variable now works, which is great - let'

[2021-04-06 15:08] Pingu501 commented on #53
@g105b thx for investigating this issue!!

On my project with `uses: php-actions/composer@april-2021-issue` on `ubuntu-latest` the action is running again! :)

[2021-04-06 15:14] g105b commented on #53
Phew! I'll wait for confirmation from others, then I'll make a patch release to `composer@v5` so others can continue without having to change anything.

[2021-04-06 15:17] polesen commented on #53
It works, and it does not work. It seems to be getting the image now, but the previous bug from this issue https://github.com/php-actions/composer/issues/47 re-appears, not being able to clone private repos, which I guess is due to this fix branch being branched from master.

So, a backport of the ghcr fix to v5 would probably work for me :+1:

[2021-04-06 15:19] benswinburne commented on #53
Initially I got the following error

[code]

Having followed those instructions to enabled improved container support, it does indeed work as expected using

[code]

[2021-04-06 16:01] g105b commented on #53
I've taken into account @polesen's latest tip, and have updated the `april-2021-issue` branch to reflect this. Please test again. I am having success here: https://github.com/php-actions/example-composer/runs/2279874830?check_suite_focus=true (it even requires a private repo).

[2021-04-06 16:18] g105b commented on #53
Update: I've tested all the various setups that I've come across while maintaining this repo here: https://github.com/php-actions/example-composer/actions

The latest run "Update all workflows to test April 2021 issue fix" changed all workflow config files to use `april-2021-issue` branch, and they all ran successfully.

If there's any other case that anybody can report that doesn't work, I'll try

[2021-04-06 17:22] pbek commented on #53
My block

[code]

...runs through when using `php-actions/composer@april-2021-issue` after I enabled `improved container support` for the organization of the repository.

But my block:

[code]

... fails in <https://github.com/qownnotes/api/runs/2280392933?check_suite_focus=true#step:4:253>.
I guess I need to more look into the GH registry...

[2021-04-06 18:06] polesen commented on #53
@g105b Excellent, my build runs without errors now on `april-2021-issue` :+1:

[2021-04-06 18:07] milan-miscevic commented on #53
On my project, it started to work with v5 (without any changes).

[code]

[2021-04-06 19:12] mnigh commented on #53
Initially, I got the same error as @benswinburne:

After [enabling improved container support](https://docs.github.com/en/packages/guides/enabling-improved-container-support), it [started to work with v5](https://github.com/GCTC-NTGC/TalentCloud/runs/2281199450) on `ubuntu-18.04`:

[code]

[2021-04-06 19:48] g105b commented on #53
It looks like the issue is due to something changing with the GitHub container repository. I'll contact their support to learn more before making any changes to the v5 patch, as I want to ensure any changes are actually going to improve things.

[2021-04-07 12:24] g105b commented on #52
It seems that Github have fixed this issue. I've reached out to support to see if there is anything that could have been done differently to prevent this issue, but for now it seems like you don't need to make any adjustments to anything to continue using the action.

I'm going to close this issue now but please open it again if you have any further problems.

[2021-04-07 12:24] #52 closed

[2021-04-07 12:24] g105b commented on #43
Is there any environment variable available within the container that indicates the operating system and version?

[2021-04-07 12:40] g105b commented on #53
I'm waiting to hear back from Github Support, but in the meantime I have successfully managed to run this action without having to change anything, so it seems the issue was only temporary.

Please can people provide an update here if they're still having any issues?

[2021-04-07 13:33] polesen commented on #53
I've been running other workflows today, which run with `v5` composer install and they have worked, so yes, it seems to not be failing at the moment.

[2021-04-08 06:55] pbek commented on #53
I also can confirm `php-actions/composer@v5` is working for me again! Thank you very much for all the investigation!

[2021-04-08 11:06] g105b commented on #53
Please feel free to re-open this issue if there are any other problems using the container repository.

[2021-04-08 11:06] #53 closed

[2021-04-08 16:26] gitromba opened #54 "Incompatible with ACT local GH Action runner"
It would be great if this action could be working locally with [ACT](https://github.com/nektos/act) so you can avoid the cumbersome commit-push verification.

For the  moment this is the error message I receive:
[code]

[2021-04-09 07:52] g105b commented on #54
Hi @gitromba ,

Thanks for your suggestion. This repository uses a composite action runner, which has been a feature of GitHub Actions for a while now.

So maybe this issue should be redirected to ACT so that project can be made compatible?

[2021-04-09 07:53] g105b commented on #54
This issue is already tracked here: https://github.com/nektos/act/issues/607

[2021-04-09 12:16] gitromba commented on #54
Indeed it would rather make sense having it fixed in ACT 🤞.

Thank you and keep up the awesome work with `php-actions/composer` 🚀

[2021-04-09 12:47] #54 closed

[2021-04-13 08:30] g105b commented on #53
Hi everyone.

I'm just following up with the response from GitHub support.

[2021-04-20 19:01] constantinultius commented on #31
I confirm it still happens on self-hosted runner with @v5.  It installs packages under "/vendor" folder with owner "root:root" and not runner user.   It works on first run but then fails on subsequent, when runner tries to clean up working directory. Because "root" files can't be deleted.

[code]

[2021-04-27 12:53] rizvisx opened #55 "Missing output.log file"
Complains of this
cat: /home/runner/work/xyz/project/output.log: No such file or directory

[2021-04-27 17:12] g105b commented on #55
Hi @rizvisx ,

Please see the [Example Composer repository](https://github.com/php-actions/example-composer) which I use as a sandbox for demonstrating how to use this action.

In the CI.yml, we pass the `output.log` file to the `upload-artifact` action, so we can analyse the output through Github's web interface. See here: https://github.com/php-actions/example-composer/blob/check-output/.github/

[2021-04-27 17:21] g105b commented on #55
Hi again...

I made another example workflow that simply does `cat /home/runner/work/example-composer/example-composer/output.log`.

You can see the workflow running here: https://github.com/php-actions/example-composer/runs/2450332073?check_suite_focus=true

![image](https://user-images.githubusercontent.com/358014/116284655-39f86080-a785-11eb-8414-293a43e53306.png)

The workflow is defined here:

[2021-04-27 17:21] #55 closed

[2021-04-28 09:07] rizvisx commented on #55
Hi @g105b

I should have been more descriptive with my question.
The error shown below shows up in the composer action, and it doesn't show any more details even with `--verbose` set.

`
Run php-actions/composer@v5
  with:
    progress: yes
    args: --verbose
    version: latest
    php_version: latest
    command: install
    interaction: no
    dev: yes
    quiet: no
cat: /home/runner/work/my-p

[2021-04-28 11:30] g105b commented on #55
Can you compare your workflow yml file with the know working files in the example composer repository and see any difference in configuration?

[2021-05-01 07:37] pbek commented on #40
@g105b, is this still in place?

I was trying to inject a `SYMFONY_DEPRECATIONS_HELPER=weak` with:

[code]

...but I still get the deprecation error message.

Running `SYMFONY_DEPRECATIONS_HELPER=weak composer run test` locally works.

Thanks again for this great GitHub Action! 👍🏻 😁

[2021-05-01 07:58] g105b commented on #40
Hi @pbek ,

I'll take a look at this later this morning.

I would like to document the exposure of environment variables over at https://GitHub.com/php-actions/example-composer for you and anyone else who might have this question, and as working proof of the functionally.

I'll catch up later when I've had chance to put it together.

Greg.

[2021-05-01 07:59] pbek commented on #40
Awesome, thank you very much! 👏🏻

[2021-05-02 09:59] g105b commented on #40
Hi @pbek,

You were absolutely right. This functionality has regressed, and I've isolated it back to when I rolled back the version of php-build we use for this repo.

A fix is easy, but I want to ensure it doesn't regress any other functionality, so I'm going to spend a little bit of time tidying up the example-composer repository as a test bed for this.

I would like to make a patch tag to v5, b

[2021-05-02 10:00] g105b commented on #40
Isolated the issue here: https://github.com/php-actions/example-composer/runs/2485950137?check_suite_focus=true

The environment variable is set here to test, and it's not showing: https://github.com/php-actions/example-composer/blob/master/.github/workflows/ci-env.yaml#L28

[2021-05-02 12:35] pbek commented on #40
Thank you very much for looking into it!

[2021-05-03 14:30] konnisoelch commented on #53
Apparently i am still getting the same error, i already enabled the improved container support.
Tried it with ubuntu-latest and ubuntu-18.04

[code]

[2021-05-03 15:49] alexmglover commented on #53
This issue popped up for me just now as well.

[2021-05-03 16:49] jared-newbold commented on #53
Also experiencing this "/usr/local/bin/composer: line 2: syntax error: unexpected newline" as of this morning.

[2021-05-04 13:40] g105b commented on #53
I'll jump back onto the ticket for Github support. I don't know where we can find out any more information because https://www.githubstatus.com/ tells us "All systems are operational"...

[2021-05-19 21:16] AlessandroMinoccheri opened #59 "No private keys supplied"
Hi all, for the first time I have problems with this amazing tool.
I have already developed many githubActions using `php-actions/composer` but today I encountered a problem:

`No private keys supplied`

This is the complete log and you can find the output here:

https://github.com/PUGX/badge-poser/runs/2624411559?check_suite_focus=true

[code]

Can someone explain to me why am I getting this erro

[2021-05-20 10:54] g105b commented on #59
Hi @AlessandroMinoccheri ,

I'll jump on this as soon as I get some time later. Not sure what can be causing the issue you're experiencing at the moment, but in the meantime, would you kindly look over the example project at https://github.com/php-actions/example-composer ?

Maybe you're using the master branch in your workflow, rather than the stable v5 release? I'm wondering because currently I'

[2021-05-20 20:36] AlessandroMinoccheri commented on #59
Hi @g105b
I am using  v5 release at the moment.
It's a not clear problem and it's the first time that I encounter it.
How can I help you to solve this problem?

[2021-05-20 22:02] g105b commented on #59
Hey, I think the issue is explained further up in the actions output. Composer isn't able to install your dependencies because certain extensions aren't available. Can you confirm that I'm understanding this correctly?

I see errors about ext-gd not getting installed, etc... See the top of the error output.

You can install extensions by listing them in the config as explained here: https://github

[2021-05-21 06:14] AlessandroMinoccheri commented on #59
Ok, you are right, I added the extension inside the setup-php step not inside php-actions/composer.
The error about keys put me in the wrong way and I was focused on that instead of the extension.

Thanks a lot!

[2021-05-21 06:14] #59 closed

[2021-05-21 07:12] g105b commented on #59
No problem, happy to hear your build is successful now. I'll take this into account and see if I can improve the readability of the error output.

[2021-05-21 15:56] g105b commented on #40
Hey @pbek ,

Sorry it's taken me so long to get around to, but work projects exploded over the last couple of weeks.

Anyway, I've made changes to the branch `40-env` that checks the Github host environment against the Docker runner, as to not set any important environments within the docker runner.

Please can you test that this fixes the issue for you?

[code]

You can see my example repository

[2021-05-21 20:07] pbek commented on #40
@g105b, it seems to build quite nicely. Thank you very much!
https://github.com/qownnotes/api/runs/2642432649?check_suite_focus=true

[2021-05-21 20:13] g105b commented on #40
@pbek great to hear! I'm going to make a V6 release this weekend as a few changes have been made, I don't want to back port it into v5.

[2021-05-21 20:13] #40 closed

[2021-05-21 20:18] pbek commented on #40
Great, thank you! 🥳

[2021-05-24 23:26] JasonTheAdams opened #60 "Unable to run exec command due to --no-interaction flag"
Greetings!

I'm trying to run the following wp-cli command:
[code]

The command fails, however, as the --no-interaction flag:
[code]

I suspect the assumption is that the command is a native composer command, and not the exec command. So an exception probably needs to be made for the exec command to not add any additional flags.

[2021-05-25 09:30] g105b commented on #60
Thanks for reporting this, I'll take a look later.

My plan is to recreate your requirements in https://GitHub.com/php-actions/example-composer so I can use that repository as future documented proof of the feature working.

[2021-05-25 09:31] g105b commented on #60
Maybe your requirements would be satisfied by the `only_args` input?

[2021-05-27 22:42] JasonTheAdams commented on #60
I actually ended up realizing I need to run more than one wp-cli command, so I broke out into its own step. I'm afraid that I didn't test the `only_args` option, but that looks like it would've done the trick. Feel free to close this if you feel its resolved.

[2021-05-29 10:02] g105b commented on #60
If you have any follow up questions, I'm happy to answer. Have fun!

[2021-05-29 10:02] #60 closed

[2021-06-28 09:30] rizvisx opened #61 "Output.log : No such file or directory"
Here's the composer action which I run

Run php-actions/composer@v5
  with:
    ssh_key_pub: ***
    version: latest
    php_version: latest
    command: install
    interaction: no
    dev: yes
    progress: no
    quiet: no
  env:

and it gives me this error.

cat: /home/ubuntu/runner/_work/xyz/xyz/output.log: No such file or directory

[2021-08-19 22:09] joz-cti opened #62 "Composer unable to apply patches"
This github action is unable to apply composer patches, the specific add on I am using is - https://github.com/cweagans/composer-patches
It is strange that if I use "composer install"  instead of this package then composer can apply the patches.
The add on requires "patch" to be installed on the server, I can confirm this was installed on the Ubuntu OS.
Are there permission restriction on what thi

[2021-08-24 15:45] g105b commented on #62
Hi @joz-cti,

This isn't something I'm familiar with, but I'll look into it for you as soon as I can.

Any follow up information here would be useful, but I'll pick it up as soon as I get some time.

Cheers,
Greg.

[2021-09-07 20:54] jmartsch commented on #50
I think these instructions should be in the readme as an example

[2021-09-08 08:44] g105b commented on #50
Hi @jmartsch I agree. I'll put this on my todo list for later this week, but happy to receive any pull requests adding this detail to the readme.

[2021-09-20 12:13] konnisoelch opened #63 "503 Service Unavailable docker.pkg.github.com"
I am getting the following error while trying to install my packages.

Pulling docker.pkg.github.com/company/project/php-actions_composer_project:php-7.4-build2
Error response from daemon: received unexpected HTTP status: 503 Service Unavailable

[code]

[2021-09-20 12:16] konnisoelch commented on #63
Tested it with `php-actions/composer@v5`, seems to be working fine.

[2021-09-29 12:59] #63 closed

[2021-10-13 07:52] konnisoelch opened #65 "Process completed with exit code 1."
Somehow running composer install is currently not working?

My config:

[code]

Error-Log:
[code]

[2021-10-13 08:44] fhuitelec commented on #65
Hi :wave:

We have the same symptoms: what seems to be a valid action run which ends with an **1** exit code.

[code]

<details><summary>Run php-actions/composer@v6</summary><p>

[code]

</p></details>

<details><summary>Run bash</summary><p>

[code]

</p></details>

<details><summary>Debug output</summary><p>

[code]
</p></details>

[2021-10-13 09:27] #61 closed

[2021-10-14 08:44] #65 closed

[2021-10-14 09:46] g105b commented on #65
No problem. I've just subscribed to Github Status updates so I am better informed in the future of any outages.

Have fun!

[2021-10-14 10:08] alvinjohnsonso opened #66 "denied: Resource not accessible by integration on docker push"
Hi! I'm receiving the error `denied: Resource not accessible by integration` when composer is setting up. What's actually weird is that the one on the forked repo works just fine. Only the main repo is experiencing that error.

Not really sure what happened. The workflow file came from the forked repo and just got merged into the main repo yesterday. So today was the first time the workflow ran in

[2021-10-14 12:07] g105b commented on #66
Hi @alvinjohnsonso ,

Please can you click the re-run workflow button on this, as Github Actions has been experiencing a bit of downtime over the last 24 hours. As far as I can tell, and as far as githubstatus.com is reporting, these issues have all cleared up now.

Let me know how it goes, and I'll have a look into it if the problem is still there.

Greg.

[2021-10-15 04:58] alvinjohnsonso commented on #66
Hi @g105b, just did a re-run. It's still the same.

https://github.com/tawk/tawk-url-utils/runs/3902573312?check_suite_focus=true
Here's the output
[code]

[2021-10-15 10:28] g105b commented on #66
Thanks, I'll take a look into this to work out what the issue could be.

[2021-10-15 15:58] g105b commented on #66
Hey @alvinjohnsonso ,

Please could you try something for me? Due to this issue being reported just shortly after Github Actions had an outage, I believe there might be an issue with the created docker image for the workflow runner.

The images should be cached in the repo here: https://github.com/orgs/tawk/packages?repo_name=tawk-url-utils

I can't see the images (which might actually be the issu

[2021-10-18 04:45] alvinjohnsonso commented on #66
Heya @g105b,

I really appreciate you taking the time to look into this 😁.

I did the instructions you provided except for the org settings as I don't have access to them 😅. Currently, we don't have any packages on the org. Tried re-running the jobs again and it still failed.

Though, I did a bit more research with the things that you've mentioned and was able to find this article https://github.b

[2021-11-18 09:10] AttLii opened #67 "php_version argument is ignored?"
Hey,

I’m using following workflow to run my phpunit tests:
[code]

When I print out php version inside tests with `phpversion()` or `PHP_VERSION`, the output is `8.0.12`. I created a test print [here](https://github.com/AttLii/headless-converter/runs/4248942187?check_suite_focus=true), see "Run composer test" step. Am I using this action wrong or is it something in your action?

[2021-11-20 16:39] g105b commented on #67
Thanks for the report. From a first glance it looks like there's a bug, which I'll work fast to fix as a patch on the v6 tag.

I'll let you know when I've investigated.

Cheers,
Greg.

[2021-11-26 14:19] euberdeveloper opened #68 "Docs not updated"
The default version is now 8, right?

[2021-11-26 15:03] g105b commented on #68
Hey, yeah the default PHP version is currently 8.0. I'll update this in the docs when I next get chance on open source stuff - unless you want to help me out with this little update?

Cheers,
Greg.

[2021-11-26 15:16] euberdeveloper commented on #67
same problem for me

[2021-11-26 15:43] euberdeveloper commented on #68
Done

[2021-11-26 17:50] EQuimper commented on #68
@g105b Do you know if you will update it to 8.1 which was release yesterday ?

[2021-11-26 18:23] g105b commented on #68
Good question @EQuimper - I think we should always link `latest` to whatever the latest release is. I'll merge @euberdeveloper 's PR in later, but in the meantime maybe they will be able to sneak an extra commit to update it to 8.1?

[2021-12-01 23:29] adambiggs opened #70 ""Resource not accessible by integration" error"
Trying to get this action working, but I'm seeing "Resource not accessible by integration" errors on every build.

Neither of the fixes mentioned in #39 and #66 worked for me.

[code]

This is running on a private repo, using the `push` event, with the following config:

[code]

[2021-12-05 13:32] g105b commented on #70
Hi, I'll take a look at this, but I haven't seen the "Resource not accessible by integration" error before. Please take a look at the https://github.com/php-actions/example-composer repository for a reference project that is known to be working. There are various different Actions YML configs in that project that test various different aspects.

Would you be able to please check the permissions un

[2021-12-06 20:15] adambiggs commented on #70
It doesn't seem like I'm doing anything out of the ordinary compared with the example configurations from https://github.com/php-actions/example-composer.

Also I checked the actions permissions on my repo, and while the options are slightly different from your screenshot, the repo has full Actions permissions:

![image](https://user-images.githubusercontent.com/857229/144915857-adbcebb8-14ab-4ba2

[2021-12-07 09:35] g105b commented on #70
OK thanks for the update. I'll take a look into this. Is the repository in question open or closed source, and is it part of an organisation?

[2021-12-08 18:42] adambiggs commented on #70
Yes, the repo is private and is part of an organization.

[2021-12-09 11:02] g105b commented on #70
Please could you check in the organisation's settings page, as there are action-specific permissions in there.

[2021-12-11 17:58] euberdeveloper commented on #68
I close the issue since the pr was merged

[2021-12-11 17:58] #68 closed

[2021-12-11 17:58] euberdeveloper commented on #67
Any news? I still see the problem

[2021-12-12 11:14] g105b commented on #67
Sorry, I've been totally busy with client work over the last couple of weeks. I'll bump this up my priority list to not take much longer.

[2021-12-13 18:09] mbretter commented on #67
same problem here

[2021-12-14 00:53] adambiggs commented on #70
Seems like the organization permissions shouldn't be stopping anything either:
![image](https://user-images.githubusercontent.com/857229/145912784-0f7bc437-1bb0-4955-872e-806ab19160fb.png)

[2021-12-14 12:04] g105b commented on #70
I'll reach out to Github Support for a resolution on this, as I can't replicate the issue, and the error message seems very specific.

Two things to confirm beforehand:

1) I expect I already know the answer to this, but if you re-run the action, this is the same outcome each time?
2) On order to get quick builds, php-actions caches the built images on the target repository (you'll see this under

[2021-12-14 12:05] g105b commented on #70
P.S. I would also like to know which php-actions packages are available within your organisation, as I would expect a broken build for whatever reason should not be cached, but I'm not sure.

[2021-12-14 19:13] adambiggs commented on #70
1. Yes, I saw the same outcome after re-running the action multiple times.
2. No packages were ever created in the organization packages page.

[2021-12-15 09:31] g105b commented on #70
Thanks for the info, I'm escalating this to Github as it seems to be an actions issue. Will report back here.

[2021-12-17 01:11] dude2511 opened #71 "Issue with private repositories"
Hi,

I have two different private repositories as dependencies, so I created a new key-pair (rsa) and set the public key as ssh key in github (not deploy key since I have two private reps). I also added the key pair as secrets. Running the action I always get the following error message:

[code]

key pair is stored:
[code]

The key pair works as expected:
[code]

Any idea why this is happening?

T

[2021-12-17 11:53] g105b commented on #71
Hi, just letting you know I've got this issue ear marked, and I'll take a look into it this weekend.

Cheers,
Greg.

[2021-12-17 12:11] dude2511 commented on #71
Maybe it helps: I tried to reproduce it on a private linux machine:

[code]

Test works with `git@github.com`
[code]

However, `github.com` doesn't
[code]

Same with cloning:
[code]

Missing user `git` as seen in the logfile of your github action:
[code]

Might the missing user be a problem? To be honest, I never really read the github documentation about the need of specifying a user. ;)

Thanks,

[2021-12-17 13:04] dude2511 commented on #71
Silly me, the user was missing in `composer.json`. Sorry for bothering you.

[2021-12-17 13:04] #71 closed

[2021-12-17 13:05] g105b commented on #71
Aha, no problem. Happy to help any time. Have a good day!

[2021-12-21 22:26] ndench opened #72 "Composer oauth no longer supported?"
PR #29 added support for composer oauth in Dec 2020, but it no longer appears to be supported. I can't seem to find any record of it being removed or why. Was this intentional?

[2021-12-22 01:50] euberdeveloper commented on #67
Are there any news? I am using this action to automatically create a zip with the prod code every time I create a new GitHub release and send it to a customer

[2021-12-22 01:52] euberdeveloper commented on #67
Also, on the .bash code, I can see

[code]

[2021-12-22 02:04] euberdeveloper commented on #67
I have seen now that it executes https://raw.githubusercontent.com/php-actions/php-build/330b13bbb1eadd05bbb627477c1549cd7e62e406/php-build.bash, which uses ACTION_PHP_VERSION, so I don't know why it wouldn't consider it

[2021-12-23 13:38] g105b commented on #72
This was not intentional. I will look into the reason as soon as I get to open source after Christmas. Thanks for raising the issue.

[2021-12-27 16:40] aaldertdekker opened #73 "Getting php 8.1 instead of 8.0"
Trying to use php 8.0, but setting php_version to 8.0 results in 8.1

[2022-01-04 21:35] mj commented on #67
You guys (@euberdeveloper, @mbretter and @AttLii) are looking at _two_ different PHP binaries actually:

- The step using `php-actions/composer@v6` builds its own PHP in a Docker container and this in fact correctly uses the `php_version` argument.
- The `run: composer test` step invokes the PHP that comes with the Ubuntu that you get by `runs-on: ubuntu-latest`.

You can easily confirm that by ru

[2022-01-05 09:25] g105b commented on #67
That's a good shout, @mj. I wonder what you think would be the best idea to help people avoid this in the future? It might just be something for the documentation to deal with.

[2022-01-05 11:51] euberdeveloper commented on #67
Is there a way to avoid this behaviour, I mean like use the specified version also for the run command?

This would be good for instance if you want to run more than a command with composer and the specified PHP version

I agree on this to be added to the documentation

[2022-01-07 01:58] courtney-miles commented on #70
I am experiencing the same issue on a public repo.

I am new to Github actions (this is the first I have drafted one) so I'm not confident that the mistake is not mine.

You can see the failing action at https://github.com/frictionlessdata/tableschema-php/runs/4734356485?check_suite_focus=true

I had attempted to use the action from https://github.com/frictionlessdata/datapackage-php/blob/main/.gi

[2022-01-07 06:33] OriHoch commented on #70
The problem is that the action depends on this [bash script](https://raw.githubusercontent.com/php-actions/php-build/330b13bbb1eadd05bbb627477c1549cd7e62e406/php-build.bash) which at the end tries to push a docker image to the repository

This depends on a few settings in GitHub, I would suggest to try and remove this dependency and allow to run without pushing a Docker image (via a specific optio

[2022-01-07 09:53] g105b commented on #70
Thank you @OriHoch that's really helpful.

Github support have responded to me. Here's their advice:

So, if you could check the advice above, this will help us get closer to an answer.

[2022-01-08 22:22] courtney-miles commented on #70
Hey @g105b , this is done -- https://github.com/courtney-miles/ghcr-publish-test/actions/workflows/publish.yml

[2022-01-14 11:14] euberdeveloper commented on #73
This is a duplicate of #67, you can find your answer here: https://github.com/php-actions/composer/issues/67#issuecomment-1005187924

I actually find this behaviour annoying and I would like to receive any suggestion about how to use the php version specified in `php_version` also in other parts of the action

[2022-01-19 15:53] LlZARD commented on #61
Still having it using v6

[2022-01-21 10:23] osma commented on #67
The analysis by @mj seems correct - if you have a separate `run` step, then it will use the PHP from the system. The solution is not to use a separate `run` step to run Composer but instead to tweak the configuration of the `php-actions/phpunit` step.

However, this is not the cause for the 8.1 vs 8.0 problem reported in #73. (Will elaborate there in a moment)

[2022-01-21 10:31] osma commented on #73
@euberdeveloper This is not a duplicate of #67 - that problem was caused by a bad configuration (a separate `run` step).

I'm hitting the same problem in my project. If I specify PHP 7.x versions such as `7.2`, `7.3` or `7.4`, I get the version I asked for. But if I ask for `8.0`, I get 8.1.1 instead.

I tried to debug this by forking php-actions/example-phpunit into [osma/example-phpunit](https:/

[2022-01-21 11:50] ngrie commented on #73
@osma This is not a real bug but instead seems to be related to how numbers are interpreted in Yaml. `8.1` is used as is while `8.0` resolves to `8` so that the lastest 8.x version is used. You can fix this by wrapping the version number in quotes. We are using `php_version: "8.0"` for some actions without any issues.

[2022-01-21 11:52] osma commented on #73
Ah, right! Thanks a lot for the explanation @ngrie!

[2022-01-21 11:58] osma commented on #73
I verified this creating a branch [test-php80-quotes](https://github.com/osma/example-phpunit/tree/test-php80-quotes) with the version number specified as `"8.0"` and it gave me PHP 8.0.x ([CI run](https://github.com/osma/example-phpunit/actions/runs/1728521397)).

The documentation doesn't use quotes for PHP version numbers - I will prepare a PR for the README.

[2022-01-26 13:10] WybeBaT commented on #61
Same issue for:

  php-stan:
    name: PHPStan
    runs-on: self-hosted
    container:
      image: ubuntu:20.04
      options: --rm

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Composer
        uses: php-actions/composer@v6
        with:
          php_version: 8.0
          version: 2

[2022-01-26 13:46] WybeBaT opened #76 "curl command not found"
I'm trying to use composer@v2 to install dependencies, however I get an error saying the curl command is not found

**/__w/_temp/2236824c-0115-4211-aa6e-f45dbd70b342.sh: line 1: curl: command not found**

I also ran into #61, which I worked around with the "Touch output file (temporary fix)" step.

Below is my workflow file, commented lines are things that I've tried to fix the issue:

[code]

If

[2022-01-27 19:51] g105b commented on #61
I'll take a look at this in the next couple of days.

[2022-01-27 19:55] g105b commented on #76
Hi @WybeBaT ,

In the next couple of days I'll recreate your settings in the [example-composer](https://github.com/php-actions/example-composer) repository to see if I can replicate the issues.

One thing I have noticed, but I doubt would cause the issue, is that `php_version: 8.0` should be quoted, like this: `php_version: '8.0'`. It's something I learnt recently (I hate YAML).

[2022-01-28 21:57] patie commented on #61
same problem

[2022-01-31 07:17] WybeBaT commented on #76
Thanks a lot for looking into it. Good catch on the `php_version: '8.0'` correction, to prevent confusion though, I had the same issue before I added that line.

[2022-02-05 21:48] g105b commented on #61
Hey @patie, @WybeBaT, @LlZARD, @rizvisx,

I've been experimenting with different build setups in the [example composer repository][example-composer] and I can't replicate this issue. I've made a new branch on the composer action too to see if I can help diagnose this issue.

What would really help me is if you could provide me with a link to an actions run that is failing in this way, or if that's

[2022-02-05 21:55] g105b commented on #76
@WybeBaT I'm struggling to replicate the issue you're sharing. I have an [example-composer](https://github.com/php-actions/example-composer) repository for testing in. Do you think you could help me replicate the issue there by creating a new workflow that matches yours as closely as possible?

I'd like to resolve this with you if you are willing and able to spend a few minutes with me.

Thanks,
G

[2022-02-09 10:31] g105b commented on #67
I have a solution that I've used on a project internally - we needed to test a live deployment succeeded, and this task required running an arbitrary command on the same PHP version that was used to deploy.

I used Docker to run the same image, and mounted the project directory as a volume... this isn't a very elegant solution, so I am planning on releasing a new repository to php-actions, "comman

[2022-03-02 17:09] netdjw commented on #65
Hi, I just try to use this action and get same error.

I use this YAML file:
[code]

And this is the debug message:

[code]

In my local docker container it works fine. I use this PHP version in my container:

[code]

Any idea what's wrong?

[2022-03-03 11:11] g105b commented on #65
To confirm this wasn't an intermitent issue with GH Actions, please can you run the action again now? So far, these issues have been temporary blips on the action running server which https://github.com/php-actions/php-build/pull/8 will probably fix.

[2022-03-03 11:57] netdjw commented on #65
Same error still present.

[2022-03-03 16:03] g105b commented on #65
OK thanks, I'll take a look at replicating.

[2022-03-24 09:44] mostafakram commented on #61
Hello @g105b I face the same issue when working on a container that include other services as mysql but it works fine if no container services are defined

[2022-04-19 07:10] netdjw opened #78 "Fail with PHP 8.0"
Hello there,

I run into similar problem with this package like php-actions/phpunit I think - not sure. I use php-actions/composer with private repos (with two private repos, both has the same issue).

If it's help I used 7.4 before, and after only version number upgrade to 8.0 it fails.

I use this yaml file for my action:

[code]

And here is the output:

[code]

Any idea how can I sove this iss

[2022-04-22 13:22] timnolte opened #79 "Can't Specify Composer Minor/Patch Versions"
If I try to specific Composer 2.2 or 2.2.9 for example my GitHub Actions fail with
[code]
I'm only able to specify version "2", otherwise it fails.

[2022-04-22 14:16] g105b commented on #79
I've just checked and can confirm that this is a limitation in the current implementation.

Thank you for submitting this issue.

Notes for a fix:

The composer phar that is downloaded uses the `https://getcomposer.org/download/latest-{version}/composer.phar` template. If a specific version is passed (for instance, if a period is present in the version string), the template should be changed to `h

[2022-04-22 15:27] timnolte commented on #79
@g105b was this actually fixed by this PR, but hasn't been made available to GitHub Actions yet? https://github.com/php-actions/composer/pull/77

[2022-04-22 15:28] timnolte commented on #79
@g105b or maybe that is where the versioning was introduced but the actual point releases aren't working as expected?

[2022-04-22 15:33] timnolte commented on #79
@g105b I think I understand now how that Composer versioning was designed. If I want Composer 2.2 I need to use `2.2.x` as the version number currently.

[2022-04-22 16:47] g105b commented on #79
No problem. I'll pick this up when I'm home. Spam me all you like :)

[2022-04-23 16:39] g105b commented on #79
Hey @timnolte , please see https://github.com/php-actions/example-composer/runs/6141219754?check_suite_focus=true and the action config https://github.com/php-actions/example-composer/actions/runs/2212864881/workflow

With this change I'm able to choose between version 2 (getting latest v2 release), 2.2 (getting latest v2.2 patch) and 2.3.1 (getting specific version release).

Please can you test

[2022-04-26 08:32] swichers commented on #31
Still an issue on v6.

[2022-04-26 11:22] g105b commented on #31
Can anyone help me understand how to detect the user on a self-hosted runner? I'm not familiar with self-hosted Actions. Any advice is appreciated, so I can create a test case in [example-composer](https://github.com/php-actions/example-composer)

[2022-04-26 15:04] timnolte commented on #79
@g105b FYI, I looked at your [run tests](https://github.com/php-actions/example-composer/runs/6141219754?check_suite_focus=true) and the test for "Use latest 2.3" is actually wrong. You can see from the output it installed version `2.2.12`.

[2022-04-27 07:31] g105b commented on #79
@timnolte thanks for pointing that out, it's actually a typo! If you look in the variable I sent in, the requested version is 2.2, but the title of the test "use latest 2.3" is typed incorrectly. I'll change it to avoid confusion.

[2022-04-29 08:33] g105b commented on #78
Please could you test something for me? We've been experiencing issues with the ghcr.io package repository and I wonder whether it has cached a failed build? You can go to the URL https://github.com/orgs/{ORGANISATION}/packages and delete the previous build. Once you've done that, please try again and let me know if that makes any difference.

Thanks!

[2022-04-30 18:27] AnthonyLedru commented on #78
Same problem with PHP 8.1

`Error: Process completed with exit code 1.`

I tried to remove the package from my organization and retry, but no success

[2022-04-30 18:31] g105b commented on #78
OK thank you. I will create a testcase for this at https://github.com/php-actions/example-composer.

[2022-05-01 15:02] devnix commented on #70
Seems like I'm affected too and I don't have any clue about how to solve this

[2022-05-07 03:22] timnolte commented on #79
@g105b sorry for the delay. I've tested out the changes and I can successfully get version 2.2. One thing that I am however stuck on is the fact that this GitHub Action doesn't actually seem to install Composer(or the specified PHP version for that matter), so I'm still needing to use the `shivammathur/setup-php` GitHub Action to setup a matching local environment so that I can run Composer script

[2022-05-07 14:36] g105b commented on #79
Your follow up question outlines the big difference between php-actions and shivammathur's implementations: php-actions are intentionally containerised, meaning there are no side effects on the Github Action runner after it has been run.

I wonder if this could be solved by having a new php-actions repo for running specific scripts in the same containerised environment? I like that idea - would li

[2022-05-07 14:50] timnolte commented on #79
Yeah, so for some additional context to my use case. I need to run a matrix of WordPress, WooCommerce, and PHP versions. This is all done via Composer require calls that change the lock file and then we perform a final install, along with running unit tests. In other workflows we run linting and static analysis. Running all of that in containerized environments would actually be preferred but isn'

[2022-05-07 15:11] g105b commented on #79
Cool. OK well this is certainly something I'll add to my to-do list! php-actions/php-run will be super useful. Thanks for helping form the idea.

[2022-05-07 15:11] #79 closed

[2022-05-14 21:23] Niellles commented on #70
I am running into the same error too, on a private repository that is.

I don't see any additional information I could provide to the extensive discussion above. But if, however, I can be of assistance please do let me know.

[2022-05-24 22:22] AlessandroMinoccheri opened #80 "Error on composer 2 syntax error: unexpected newline"
Hi all,
I have a problem with our GitHub actions when we try to use composer 2 instead of 1.
I tried to specify 2.x, 2.2.12 but we receive always:

[code]

If I use composer 2 we have a PHP version problem because we are supporting PHP 7.1

This is a link to see the error:
https://github.com/phparkitect/arkitect/runs/6582531104?check_suite_focus=true#step:17:101

I have seen this issue very simila

[2022-06-20 10:15] gsdevme commented on #80
The PR does resolve the issue but no v7 tag has been created. If you swap to using the master branch directly it should work.

So use `php-actions/composer@master` vs `php-actions/composer@v6` Could do with v7 being tagged though to ease this.

Something like

[code]

[2022-06-20 16:15] AlessandroMinoccheri commented on #80
Thanks @gsdevme we can close the issue with this answer!

[2022-06-20 16:15] #80 closed

[2022-06-21 08:41] g105b commented on #80
Thank you for bringing this to my attention. I'll release a v7 tag soon when a couple of other minor fixes are tested.

[2022-07-10 17:32] carloshenrq opened #83 "Lua extension"
Hi everyone

I'm having an issue with the Lua extension on my github action.

[code]

The error I'm getting it's:

[code]

I already have tried to use action `leafo/gh-actions-lua@v9`. Does anyone have a hint about it?

[2022-07-26 22:45] peter-neumann-dev opened #86 "Infinite runtime when requiring ext-gd php extension"
Hello, I am getting infinite runetimes when I require `gd` in `php_extensions`

I have to cancel the job because each time because it will not stop running …

Here are my logs for this job:
[code]

[2022-08-06 14:44] Un1matr1x opened #87 "the composer version cannot be defined more precisely than the "major" version"
I tried to define the composer version as described [here in the readme file](https://github.com/php-actions/composer#using-different-versions-of-php-or-composer).

If I only define the major-version the[ workflow file](https://github.com/Just-Another-Weather-Site/playground/blob/33064b1d3f32c9b5a9f3dd60e96bd3c21850e5e0/.github/workflows/validate.yaml) looks like this
[code]
and the [workflow pass

[2022-08-06 15:35] g105b commented on #87
Hi, it looks like the original php-actions/composer install script uses a URL scheme that isn't supported for those version numbers, so will need updating to match the URL pattern used at getcomposer.org.

The script in question downloads the phar file:

https://github.com/php-actions/composer/blob/master/composer-action.bash#L7-L15

It seems the URL scheme should actually look like this:

+ "late

[2022-08-07 12:32] Un1matr1x commented on #87
Hi,

thanks for taking a look into it. Since I'm unsure how to change the bash-code in a nice way (without many ugly elseifs) I'm not going to write a patch for this.

If you change the code, you might also want to support more/all options from https://getcomposer.org/download/ ?

- "latest" » https://getcomposer.org/download/latest-stable/composer.phar
- "Preview" » https://getcomposer.org/downlo

[2022-08-08 07:08] g105b commented on #87
Good idea, I'll definitely mention this in the docs.

[2022-08-08 21:22] dschmidtadv commented on #62
I am facing the same issue.

[2022-08-16 17:08] Un1matr1x commented on #83
I'm unsure if this might help or even if this is still an issue for you, but the readme says:
https://github.com/php-actions/composer#including-php-extensions

at the supported extension names I don't see a `lua` extension, only a `luasandbox`

[2022-08-28 12:31] Un1matr1x commented on #87
any updates on this topic?

[2022-09-05 21:21] g105b commented on #87
Hey @Un1matr1x, sorry it's been so long but I've finally got around to this issue.

Please see https://github.com/php-actions/example-composer/runs/8196183608 for the current WIP tests. You can click through the various workflow steps that each request a different version using the `version` parameter, and if you open up the output of each workflow, you'll see the precise version is properly getti

[2022-09-05 21:30] g105b commented on #87
So, thank you @Un1matr1x - your bash skills have worked first time.

Seeing as the issue has been open for a while now, is there anything else you think would help?

If not, I will merge this in. Thank you so much for your contribution!

[2022-09-05 21:32] g105b commented on #62
Hi @joz-cti

I'm following up on this as the issue is still unresolved. Please could you help me by showing me the output of your failing workflow? I can't see any reason why this wouldn't work out of the box, as Ubuntu does indeed have diff and patch installed by default.

Thanks,
Greg.

[2022-09-05 22:18] joz-cti commented on #62
Hi Greg,

I will look into this tomorrow and provide you the log

Joz

On Mon, 5 Sept 2022, 22:32 Greg Bowler, ***@***.***> wrote:

[2022-09-07 02:58] silverjason opened #89 "Action failing "Error response from daemon: manifest unknown""
The action seemed to start failing today, not sure if the docker image can't be found?

Perhaps since the GitHub's Docker registry `docker.pkg.github.com` has been [migrated](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-docker-registry) to the
 Container registry `https://ghcr.io`

<img width="1207" alt="image" src="https://user-images.githubusercont

[2022-09-07 06:49] silverjason commented on #89
I made some changes to the package permissions then deleted the package and it seemed to resolve when it regenerated

[2022-09-07 06:49] #89 closed

[2022-09-10 08:05] Un1matr1x commented on #87
lgtm & I have no further ideas

[2022-09-12 15:11] gleniat opened #90 "Composer is not running as a current user (it runs as root)"
I set up the linux user `runner` on my self-hosted linux machine. I installed the service with `sudo ./svc.sh install runner` and started it with `./svc.sh start`. The installed runner runs as `runner` user, but the `php-actions/composer` creates `vendor` directory owned by `root`.

[code]

whoami prints `runner` as expected.

after `Install composer dependencies` step, the listing of files look l

[2022-09-16 06:00] diamondicq-it commented on #86
+1

[2022-09-16 08:15] diamondicq-it commented on #86
I think this may have been the cause
<img width="999" alt="image" src="https://user-images.githubusercontent.com/36669399/190590742-912ee2ad-a93e-474f-b042-304a2c230b46.png">
source: https://github.com/mlocati/docker-php-extension-installer#supported-php-extensions

[2022-09-16 08:56] g105b commented on #86
@diamondicq-it thanks for that. I couldn't figure out what the problem was but this seems to be it. Do you think it would be sensible to set this as part of the action, on behalf of the user, or maybe this issue can be resolved by echoing this documentation, with an example of how to set an env variable?

[2022-09-20 07:19] diamondicq-it commented on #86
@g105b an example of how to set an env variable would be nice. Thanks.

[2022-09-20 07:48] peter-neumann-dev commented on #86
I could try this within the next days. @diamondicq-it I think you will set this like (at least how I will try to start with)
[code]

You can also define this per step: https://docs.github.com/en/actions/learn-github-actions/environment-variables

[2022-09-20 10:25] g105b commented on #86
As @peter-neumann-dev has rightly pointed out, setting environment variables is done with the `env` property.

Here's the php-actions example-composer repository, used for testing this kind of thing, with a test runner where the environment variables are set, so you can see this working in situ:

https://github.com/php-actions/example-composer/blob/master/.github/workflows/ci-env.yaml

[2022-10-06 11:13] g105b commented on #62
Interesting - it looks like this is run within `sh` rather than `bash`, and the `patch` command isn't available by default. I'll look into this on the [example-composer](https://github.com/php-actions/example-composer) repository and see if I can replicate, and once it's replicable it's fixable.

[2022-10-14 10:00] markbeazley opened #92 "GitHub are deprecating the `set-output` command in actions"
See [this announcement](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/), currently still working, but is throwing this `Warning: The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-

[2022-10-14 22:30] g105b commented on #92
Thank you! I'll look into what needs to be changed.

[2022-10-19 16:55] pmcgoverncw commented on #53
Is there any update to this issue? We're experiencing it as well in v6

[2022-10-25 10:00] tobalsan commented on #61
Hey folks,

I've got the same issue. I think it has happens when you run your workflow inside a container.
The action uses the `${github.workspace}` variable, but [there's an opened issue](https://github.com/actions/runner/issues/2058) about the variable having an incorrect value inside a container.

[2022-11-04 09:54] agaengel commented on #92
I think this would be fixed by #93

[2022-11-09 15:40] g105b commented on #92
#92 is now merged. Feedback is appreciated.

[2022-11-09 15:40] #92 closed

[2022-11-09 15:41] g105b commented on #90
Hi @gleniat,

The instance of Composer runs in a Docker container, with no users created within it. It might take a bit of thinking to get the inside of the container running with the same user as the file owners on the outside.

What problem are you facing due to the files being owned by root?

Greg.

[2022-11-09 15:42] #87 closed

[2022-11-09 15:44] g105b commented on #83
Closing this, but if @carloshenrq has problems listing the extension in the `php_extensions` list, please feel free to re-open.

[2022-11-09 15:44] #83 closed

[2022-11-09 15:48] g105b commented on #43
Closing due to inactivity. Please open if this is still unanswered for you.

[2022-11-09 15:48] #43 closed

[2022-11-09 15:49] g105b commented on #51
Please can you provide any more information on this? The linked build run has expired. Feel free to open this issue if the problem persists and I'll be happy to look into it for you.

[2022-11-09 15:49] #51 closed

[2022-11-09 15:50] g105b commented on #62
I've added the `help wanted` label because I'm not sure how to fix this myself.

[2022-11-09 15:53] g105b commented on #67
This functionality will be developed here: https://github.com/php-actions/command

[2022-11-09 15:53] #67 closed

[2022-11-09 15:54] g105b commented on #70
Can anybody provide me with any help on this issue? I'm not sure how to continue.

[2022-11-09 15:56] g105b commented on #72
Please revisit this functionality if you're still interested. I can see some other users are successfully using an oauth token, and @execut kindly provided simpler instructions of usage. Feel free to re-open if you're having any issues.

[2022-11-09 15:56] #72 closed

[2022-11-09 15:56] #76 closed

[2022-11-09 16:08] SomeBdyElse commented on #90
Hi @gleniat , Hi @g105b !

I had the same issue. In my case a product specific composer plugin created var/tmp/… folders after `composer install`. The folders were created but belonged to `root`. Later, a phpunit test was unable to create new files within that folder and failed.

To ensure that the folders created by composer install will be writable during the unit tests, I switched to:
[code]

[2022-11-09 17:07] OriHoch commented on #70
opened a PR which should fix it - https://github.com/php-actions/php-build/pull/11

[2022-11-09 17:26] g105b commented on #70
Thank you so much, @OriHoch - simple and effective. I'll include it in the next releases.

[2022-11-09 17:26] #70 closed

[2022-11-24 10:54] markbeazley commented on #92
@g105b Brilliant thanks, that seems to have worked on our repos workflow.

[2022-11-25 14:11] taupecat opened #94 "Can't download from source because `svn` not in path"
I'm using this action to install WordPress plugins via composer using wpackagist.org. Today I ran into an issue where the ZIP distribution file was not available (so yes, there's a problem with this package and/or wpackagist, which is a separate issue…), so composer tries to download from source. WordPress being what it is, that source is SVN. But this action chokes because `svn` isn't in the path

[2022-11-25 14:14] g105b commented on #94
Hi, this is simply down to the Github Actions container not having SVN installed, because when I set it up I never anticipated such use. I will add SVN to the next release of [php-build](https://github.com/php-actions/php-build) and hopefully that will solve your issue.

I'll contact you on here when I've found some time to do this, with a snippet to use in your workflow to test the new functional

[2022-11-25 14:16] taupecat commented on #94
That sounds great, thanks so much.

And I totally hear you on the "never anticipated such use." Is there any project out there the size and scale of WordPress that still uses svn? I think not.

[2022-11-25 14:18] g105b commented on #94
No, but Wordpress was first released in 2003, Git was released in 2005 - so fair play to them :)